<% layout('layouts/boilerplate') %>

    <div class="container">
        <h1 class="my-4"> <%= cars.length %> cars on your listing</h1>
        <% if (cars.length> 0) { %>
            <div class="row">
                <% cars.forEach(car=> { %>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <img src="<%= car.images[0].url %>" class="card-img-top"
                                alt="<%= car.make %> <%= car.model %>">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= car.make %>
                                        <%= car.model %>
                                </h5>
                                <p class="card-text">Price: $<%= car.price %>
                                </p>
                                <p class="card-text">Year: <%= car.year_model %>
                                </p>
                                <p class="card-text">Driven: <%= car.driven %> miles</p>
                                <p class="card-text">Fuel Type: <%= car.fuel_type %>
                                </p>
                                <a href="/cars/<%= car._id %>" class="btn btn-primary">View Details</a>
                            </div>
                        </div>
                    </div>
                    <% }) %>
            </div>
            <% } else { %>
                <p class="text-center">You have no listings.</p>
                <% } %>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
